version: 2.1
commands:
  install_dependencies:
    description: "Install correct version of bundler and load from cache or bundle install"
    steps:
      - run:
          name: Configure Bundler
          command: |
            echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> $BASH_ENV
            source $BASH_ENV
            gem install bundler

      # Which version of bundler?
      - run:
          name: Which bundler?
          command: bundle -v

      # Which version of bundler?
      - run:
          name: Set bundle vendor
          command: bundle config set path './vendor/bundle'

      # Restore bundle cache
      - restore_cache:
          keys:
            - imagecat-bundle-v5-{{ checksum "Gemfile.lock" }}
            - imagecat-bundle-v5-

      - run:
          name: Bundle Install
          command: bundle check || bundle install

      # Store bundle cache
      - save_cache:
          key: imagecat-bundle-v5-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - restore_cache:
          name: Restore Yarn Package Cache
          key: &yarn_key rails_template-yarn-cimg-{{ checksum "yarn.lock" }}
      - run:
          name: Install NPM Dependencies via Yarn
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          key: *yarn_key
          paths:
            - ~/.cache/yarn
orbs:
  browser-tools: circleci/browser-tools@2.4.0
  coveralls: coveralls/coveralls@1.0.7
  node: circleci/node@7.2.1
jobs:
  build:
    working_directory: ~/rails_template
    docker:
      - &ruby_docker
        image: cimg/ruby:3.4.8-browsers
        environment:
          RAILS_ENV: test
    steps:
      - checkout
      - run: sudo apt update && sudo apt install postgresql-client libmsgpack-dev
      - node/install:
          install-yarn: true
          node-version: '24.13.1'
      - install_dependencies
      - persist_to_workspace:
          root: &root '~/rails_template'
          paths: '*'

  rubocop:
    working_directory: *root
    docker:
      - *ruby_docker
    steps:
      - attach_workspace:
          at: *root
      - run:
          name: Run rubocop
          command: bundle exec rubocop

  test:
    working_directory: *root
    docker:
      - *ruby_docker
      - image: postgres:13.5-alpine
        environment:
          POSTGRES_USER: rails_template_user
          POSTGRES_DB: test_db
          POSTGRES_HOST_AUTH_METHOD: trust
    steps:
      - attach_workspace:
          at: *root
      - browser-tools/install_chrome
      - browser-tools/install_chromedriver
      - node/install:
          install-yarn: true
          node-version: '24.13.1'
      - run:
          name: Wait for PostgreSQL
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run: bundle exec rake db:create
      - run: bundle exec rake db:migrate
      - run: bundle exec rake db:migrate RAILS_ENV=test
      - run:
          name: Run Rspec
          command: bundle exec rspec
      - store_artifacts:
          path: coverage
      - store_artifacts:
          path: /home/circleci/rails_template/tmp/screenshots
      - coveralls/upload:
          path_to_lcov: ./coverage/lcov.info

workflows:
  version: 2
  build_accept_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - rubocop:
          requires:
            - build

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - build
      - test:
          requires:
            - build
