<h2>SubGuide: <%= @sub_guide_card.heading %></h2>
<% if @sub_guide_card.children.present? %>
  <ul>
    <% @sub_guide_card.children.each do |sub_guide| %>
      <li> <%= link_to sub_guide.heading, sub_guide_card_path(sub_guide.id) %> </li>
    <% end %>
  </ul>
<% end %>
 <% @card_images.each do |image| %>
   <ul>
    <%= image_tag(image.iiif_url) %>
   </ul> 
 <% end %>

<%= paginate @card_images %>