<h1>ARRANGEMENT OF CARDS IN THE PUBLIC CATALOGUE</h1>
<p>
Although cards are filed in the catalogue alphabetically by author, subject, and sometimes title, the large number of entries makes it necessary to have a filing system. 
A copy of Princeton University Library Filing Rules is kept on the counter next to the Public Catalogue. Some of these rules are given below.
</p>

<p>
1. Arrangement is word by word, alphabetizing letter by letter to the end of each word.
    <ul>
        <li> New England</li>
        <li> New York</li>
        <li> Newark</li>
        <li> Newman</li>
    </ul>
</p>
<p>
2. Order of entries under same word. When the same word is used for several kinds of headings, it is arranged in the flowing order: person, place, thing, title.
    <ul>
        <li>Maine, Sir Henry J.S. (person)</li>
        <li>Maine. Legislative (place)</li>
        <li>MAINE-MAPS (place)</li>
        <li>Maine, University (place)</li>
        <li>MAINE (BATTLESHIP) (thing)</li>
        <li>Maine beautiful (title)</li>
    </ul>
</p>
<p>
 Also, there may be several alphabets for some names and words.
    <ul>
        <p>a. Person, firm, family</p>
            <li>Fraser, Alexander</li>
            <li>Fraser & Chalmers</li>
            <li>Fraser & Co.</li>
            <li>FRASER FAMILY</li>
        <p>b. Place, with explanatory term in parentheses</p>
            <li>New York (city)</li>
            <li>New York (colony)</li>
            <li>New York (state)</li>
    </ul>
</p>
<p>
3. Organizations as authors. An "author" may be an organization, a government, an institution or a society. If so, the main card may be found under some such heading as the following:
    <ul>
        <li>American Pharmaceutical Association.</li>
        <li>New Jersey. Legislature.</li>
        <li>United States. Department of State.</li>
        <li>United States. Special Committee on Farm Tenancy.</li>
    </ul>
</p>
<p>
4. Main cards precede subject cards.
    <ul>
        <li>Thackeay, William Makepeace</li>
        <li>Ballads (works by)</li>
        <li>THACKERAY, WILLIAM MAKEPEACE</li>
        <li>[Benjamin, Lewis Saul]</li>
        <li>The Life (works about)</li>
    </ul>
</p>
<p>
5. Compound surnames. Surnames compounded of two names, with or without a hyphen, follow the single name.
    <ul>
        <li>Blanco, Pedro</li>
        <li>Blanco de Paz, Juan</li>
        <li>Blanco-Fombona, Ricardo</li>
        <li>Blanco Garcia, Francisco</li>
        <li>Blanco y Sanchez, R.</li>
    </ul>
</p>
<p>
6. Forenames used a headings precede surnames beginning with the same name. They are arranged in the following groups: (a) Saints, (b) Popes, (c) Sovereigns (alphabetized by name of country), (d) Princes and nobility, (e) Others, for example:
    <ul>
        <li>John, Saint, apostle</li>
        <li>John, king of England</li>
        <li>John I, king of Scotland</li>
        <li>John of Gaunt, duke of Lancaster</li>
        <li>John the Baptist</li>
        <li>John, Helen James</li>
    </ul>
</p>
<p>
7. Publications of an organization are usually entered under the name of the organization.
    <ul>
        <li>American Academy of Political and Social Science.Annals.</li>
        <li>American Medical Association.Journal.</li>
        <li>National Academy of Sciences.Proceedings.</li>
        <li>New Jersey. Civil Service Commission.Annual report.</li>
    </ul>
</p>
<p>
8. Vowels with an umlaut are usually files as though they were spelled in full. ä, ö, ü are filed as ae, oe, ue
    <ul>
        <li>Maeder, Alphonse</li>
        <li>Moeder, Paul</li>
    </ul>
</p>
<p>
9. M', Mc. Names beginning with M' and Mc are filed as though they were spelled Mac.
    <ul>
        <li>McCune</li>
        <li>MacCunn</li>
        <li>McCurdy</li>
    </ul>
</p>
<p>
10. Articles. When the first word of a title is an article (a, an, or the), it is disregarded in the filing. This is true also of articles in foreign languages.
    <ul>
        <li>The genius</li>
        <li>Genius and valour</li>
        <li>A genius in the family</li>
    </ul>
</p>
<p>
11. When an article is within a title, it is observed in the filing.
    <ul>
        <li>Journal of human relations</li>
        <li>Journal of social psychology</li>
        <li>Journal of the history of ideas</li>
    </ul>
</p>
<p>
12. Common abbreviations are arranged as though they were spelled out.
    <ul>
        <li>Dr. filed as Doctor (or Doktor in German)</li>
        <li>Gt. Brit. filed as Great Britain</li>
        <li>Mlle. filed as Mademoiselle</li>
        <li>Mrs. filed as Mistress</li>
        <li>U.S. filed as United States</li>
    </ul>
</p>
<p>
13. Names with prefixes. (De, De la, La, Las, O', Van, Von, etc.) Personal and place names compounded with prefixes are treated as one word.
    <ul>
        <li>Defoe, Daniel</li>
        <li>De la Roche, Mazo</li>
        <li>Delaware</li>
        <li>Eldorado</li>
        <li>El Paso, Texas</li>
    </ul>
</p>
<p>
14. Initials are arranged before a word beginning with the same letter.
    <ul>
        <li>ABD of the Bible</li>
        <li>The A.E.F. in battle</li>
        <li>A.S.M.E. news</li>
        <li>Aa, Cornelius van der</li>
    </ul>
</p>
<p>
15. Hyphenated words are filed as two words except those words with a hyphenated prefix, such as anti-, co-, inter-, post-, etc.
    <ul>
        <li>Cooperative marketing</li>
        <li>Co-operative movement</li>
        <li>Preglacial age</li>
        <li>Pre-historic America</li>
        <li>Wire, George E.</li>
        <li>Wire-drag work in Alaska</li>
        <li>WIRE-FENCING</li>
        <li>WIRE-TAPPING</li>
        <li>The wireless experimenter's manual</li>
        <li>Wiretapping, see Wire-tapping</li>
    </ul>
</p>
</p>

<p>Return to <%= link_to("Home Page", "https://imagecat-prod.princeton.edu/") %>.</p>