<h1>Princeton University Supplementary Catalog</h1>

<h2>Formely known as the Electronic Card Catalog</h2>

<p>This catalog contains records for items cataloged before 1980.

Records are arranged alphabetically with authors, titles, and subjects interfiled.

Please enter a search string to go to the guide card nearest that search string.</p>

<p> GuideCards Link (Temporary): <%= link_to("GuideCards index", guide_cards_path) %></p>

<p> Search box will go here </p>

<p><%= link_to("Filing rules", "https://imagecat2.princeton.edu/ecc/cardhelp.html") %></p>

<p><%= link_to("Library Locations and Call Number Information", "https://library.princeton.edu/libraries") %></p>

<p>For items cataloged 1980+ and for most serials, consult the <%= link_to("Online Catalog", "https://catalog.princeton.edu/") %>.</p>