<h2>Guide: <%= @guide_card.heading %></h2>

<% if @sub_guide_cards.present? %>
  <h3>SubGuide Cards</h3>
  <ul id="sg_index">
    <% @sub_guide_cards.each do |sub_guide| %>
      <li> <%= link_to sub_guide.heading, sub_guide_card_path(sub_guide.id) %> </li>
    <% end %>
  </ul>
<% end %>

<%= render "shared/card_image_list" %> 

<% @info_cards.each do |info| %>
  <%= info.html.html_safe %>
<% end %> 