<h1><%= @guide_card.heading %></h1>
<h2><%= @guide_card.sortid %></h2>
<h2><%= @guide_card.path %></h2>


<h2>SubGuide for record 3</h2>
<ul>
<li>
<%# @sub_guide_cards.each do |sub_guide| %>
<%# end %>
<%# Need to set subguide card in my controller %>
</li>
</ul>