/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    margin: 0;
}

#main-content {
  margin: 20px 20px;
  /* ensure content stays within boundaries of header / footer, which have
   * default max-width of 1170, see
   * https://pulibrary.github.io/lux/docs/#/Patterns/LibraryHeader
   * and https://github.com/pulibrary/lux/issues/397
   */
  padding: 0 calc(calc(calc(100% - 1170px) / 2));
}

#list_header {
    color: orange
}

#sg_list_header {
    color: orange
}

#sg_index {
    list-style-type: none;
    font-size: 20px;
}

.pagination {
    display: flex;
    list-style: none;
    border-radius: 15rem;
    padding: 5px;
    padding-top: 25px;
}

.page-link {
    color: black;
    font-size: 15px;
    position: relative;
    padding: 0.5rem 0.75rem;
    margin-left: -3px;
    line-height: 1.25;
    border: .25px solid #eae7e2;
    white-space: nowrap;
    z-index: 3;
    text-decoration: none;
}

.page-link {
    position:relative;
    display:block;
    padding:0.5rem 0.75rem;
    margin-left:-1px;
    line-height:1.25;
    color:#3072AB;
    background-color:#ffffff;
    border:1px solid #dee2e6
}

.page-link:hover {
    z-index:2;
    color:#1f4a6f;
    text-decoration:none;
    background-color:#e9ecef;
    border-color:#dee2e6
}

.page-link:focus {
    z-index:3;
    outline:0;
    box-shadow:0 0 0 0.2rem rgba(48,114,171,0.25)
}

.page-item:first-child .page-link {
    margin-left:0;
    border-top-left-radius:0.25rem;
    border-bottom-left-radius:0.25rem
}

.page-item:last-child .page-link {
    border-top-right-radius:0.25rem;
    border-bottom-right-radius:0.25rem
}

.page-item.active .page-link {
    z-index:3;
    color:#ffffff;
    background-color:#3072AB;
    border-color:#3072AB
}

.page-item.disabled .page-link {
    color:#6c757d;
    pointer-events:none;
    cursor:auto;
    background-color:#ffffff;
    border-color:#dee2e6
}
